@import "../../index.scss";

.card {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    margin-top: 150px;
    height: 500px;
    width: 300px;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out; // Add a transition for smooth animation   
    background-position: 50%;
}

.card:hover {
    transform: scale(1.05); // Zoom in by 5% on hover
  }

.card-text {
    display: flex;
    color: $text;
    font-size: 30px ;
    font-weight:bold;
}