@import "../../index.scss";
@import "../../text.scss";

.home-container {
    @extend .flex-row;
    justify-content: space-between;
    align-items: center;
}

.home-text-container {
    width: 40%;
    text-align: justify;
}

.home-more-container {
    @extend .flex-row;
}

.home-button-light {
    background-color: $base;
    color: $red;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    max-width: 150px;
    border: 2px solid $red;
}

.home-button-light:hover {
    background-color: $red;
    color: $base;
}

.home-button-dark {
    @extend .home-button-light;
    background-color: $base;
    color: $text;
    border: 2px solid $surface2;
}

.home-button-dark:hover {
    border: 2px solid $red;
}